<!--<p>header works!</p>-->
<!-- header.component.html -->
<header class="header">
    <div class="logo">
      <!--<h1>Tienda Online</h1>-->
      <a href="#">
        <img src="images/logo-tienda.png" alt="Logo de la Tienda" class="logo-img"/>
      </a>
    </div>
    <form class="d-flex mx-auto">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <nav class="nav">
      
      <a href="#">Inicio</a>|
      <a href="#">Nosotros</a>|
      <a href="#">Tienda</a>|
      <a href="#">Ayuda</a>|
      <a href="#"><img src="/images/carrito.png"></a>

    </nav>
  </header>
  